<div class="flex-container" *ngIf="!showMoviesSearch">
  <div class="title-container">
    <h1 class="movies-container">{{title}}</h1>
    <button mat-icon-button 
          class="add-button"
          (click)="enterSearchMode()"
            >
      <mat-icon>add_to_queue</mat-icon>
    </button>
  </div>
  <input type="text" class="search-input title-search-input" placeholder="Search" [(ngModel)]="titleFilter">
  <div class="row-container">
      <div class="movie-item-container" *ngFor="let recommendation of recommendations | textFilter: titleFilter; index as index">    
        <button class="poster-container" (click)="goToDetails(recommendation)">
          <img [src]="recommendation.poster_path | posterUrl" class="poster" *ngIf="recommendation.poster_path">
          <div class="movie-title-container" *ngIf="!recommendation.poster_path">
            <h5 class="movie-title">
              {{recommendation.title}} 
            </h5>
          </div>
        </button>
        <div class="thumbs-container">
          <button mat-icon-button 
                  class="thumb-up" 
                  (click)="voteThumbsUp(recommendation)" 
                  (mouseenter)="changeThumbsUpTooltip(index, true)" 
                  (mouseleave)="changeThumbsUpTooltip(index, false)">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <div class="tooltip-common thumb-up-tooltip" *ngIf="showThumbsUpTooltips[index]">
            {{recommendation.thumbsUpCount}}
          </div>
          <button mat-icon-button 
                  class="thumb-down" 
                  (click)="voteThumbsDown(recommendation)"
                  (mouseenter)="changeThumbsDownTooltip(index, true)" 
                  (mouseleave)="changeThumbsDownTooltip(index, false)">
            <mat-icon>thumb_down</mat-icon>
          </button>
          <div class="tooltip-common thumb-down-tooltip" *ngIf="showThumbsDownTooltips[index]">
            {{recommendation.thumbsDownCount}}
          </div>
        </div>
      </div>
    </div>
</div>

<div class="movies-search-container" *ngIf="showMoviesSearch">
  <h3>{{searchTitle}}</h3>
  <div class="search-container">
    <input type="text" class="search-input" [placeholder]="searchPlaceholder" [(ngModel)]="newRecommendation">
    <button mat-icon-button class="search-icon" (click)="searchRecommendation()" >
      <mat-icon>search</mat-icon>
    </button>
    <button type="button" class="btn btn-info go-back-button" (click)="clearSearch()">Volver</button>
  </div>
  <div class="movies-search" *ngIf="recommendSearch?.results">
    <h4>{{searchMessage}}</h4>
    <div class="row-container">
      <div class="movie-item-container" *ngFor="let movieSerieSearch of recommendSearch?.results">
        <button class="poster-button" (click)="addRecommendation(movieSerieSearch)">
            <img [src]="movieSerieSearch.poster_path | posterUrl" class="poster" *ngIf="movieSerieSearch.poster_path">
            <div class="movie-title-container" *ngIf="!movieSerieSearch.poster_path">
              <h5 class="movie-title">
                {{movieSerieSearch.title}}
              </h5>
            </div>
        </button>
      </div>
    </div>
  </div>
</div>
