.movies-container {
    padding: 20px;
}

.movies-search-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 20px;
    flex: 1;
}

.movies-search {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    flex: 1;
    margin: 20px;
}

.search-input {
    display: flex;
    flex: 1;
    min-width: 400px;
}

.title-search-input {
    align-self: center;
    margin-bottom: 20px;
}

.search-icon {
    background-color: #d58cfc;
    margin-left: 15px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.title-container {
    align-items: center;
    display: flex;
}

.add-button {
    background-color: #d58cfc;
}

.movie-item-container {
    display: flex;
    padding: 30px 25px;
}

.poster-button,
.poster-container {
    background-color: transparent;
    border-width: 0;
    display: flex;
}

.poster-button:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.poster-container:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.poster {
    height: auto;
    width: 150px;
}

.go-back-button {
   margin-left: 15px;
}

.movie-title-container {
    align-items: center;
    background-color: #d58cfc;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 10px;
    width: 150px;
}

.movie-title {
    text-align: center;
    text-wrap: wrap;
}

.thumbs-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 150px;
}

.thumb-up {
    background-color: green;
    color: white;
    left: -20px;
    top: -20px;
}

.thumb-down {
    background-color: red;
    color: white;
    right: -20px;
    top: -20px;
}

.add-button:hover,
.search-icon:hover,
.thumb-down:hover,
.thumb-up:hover {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); 
}

.tooltip-common {
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 30px;
    padding: 5px 10px;
}

.thumb-up-tooltip {
    left: -13px;
}

.thumb-down-tooltip {
    right: -15px;
}
