.movies-container {
    margin-top: 50px;
    padding: 20px;
}

.clickable {
    cursor: pointer;
}

.movies-search-container {
    margin-bottom: 50px;
}

.poster {
    height: auto;
    width: 100px;
}
