<h1 class="movies-container"> Qué películas recomiendan los Rootstrappers?</h1>
<div *ngIf="!showMoviesSearch">
  <ul>
      <li *ngFor="let movie of movies">
        {{movie.title}} 
        <span class="clickable" (click)="voteThumbsUp(movie)">({{movie.thumbsUp.length}} 👍🏻)</span> 
        <span class="clickable"  (click)="voteThumbsDown(movie)">({{movie.thumbsDown.length}} 👎🏻)</span>
      </li>
  </ul>
  <input type="text" [(ngModel)]="newMovie">
  <button (click)="searchMovie()">Add</button>
</div>

<div class="movies-search-container" *ngIf="showMoviesSearch">
  <h3>Alguna de estas es la película que buscabas?</h3>
  <div class="row-container">
    <div class="movie-item-container" *ngFor="let movieSearch of moviesSearch?.results">
        <img [src]="movieSearch.poster_path | posterUrl" class="poster" *ngIf="movieSearch.poster_path">
        <h5 class="movie-title" *ngIf="!movieSearch.poster_path">
          {{movieSearch.title}}
        </h5>
      </div>
  </div>
  <button type="button" class="btn btn-info nope-button" (click)="cancelSearch()">Nope</button>
</div>
