.movies-container {
    margin-top: 50px;
    padding: 20px;
}

.clickable {
    cursor: pointer;
}

.movies-search-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 20px;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.movie-item-container {
    display: flex;
    flex: 1;
    padding: 10px
}

.poster-button {
    background-color: transparent;
    border-width: 0;
    display: flex;
}

.poster {
    height: auto;
    width: 150px;
}

.nope-button {
   margin-top: 15px;
}

.movie-title-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 150px;
}

.movie-title {
    text-align: center;
    text-wrap: wrap;
}
