<h1 class="movies-container"> Qué películas recomiendan los Rootstrappers?</h1>
<div *ngIf="!showMoviesSearch">
  <div class="row-container">
      <div class="movie-item-container" *ngFor="let movie of movies; index as index">
        <div class="poster-container">
            <img [src]="movie.poster_path | posterUrl" class="poster" *ngIf="movie.poster_path">
            <div class="movie-title-container" *ngIf="!movie.poster_path">
              <h5 class="movie-title">
                {{movie.title}} 
              </h5>
            </div>
        </div>
        <div class="thumbs-container">
          <button mat-icon-button 
                  class="thumb-up" 
                  (click)="voteThumbsUp(movie)" 
                  (mouseenter)="changeThumbsUpTooltip(index, true)" 
                  (mouseleave)="changeThumbsUpTooltip(index, false)">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <div class="thumb-up-tooltip" *ngIf="showThumbsUpTooltips[index]">
            {{movie.thumbsUp.length}}
          </div>
          <button mat-icon-button 
                  class="thumb-down" 
                  (click)="voteThumbsDown(movie)"
                  (mouseenter)="changeThumbsDownTooltip(index, true)" 
                  (mouseleave)="changeThumbsDownTooltip(index, false)">
            <mat-icon>thumb_down</mat-icon>
          </button>
          <div class="thumb-down-tooltip" *ngIf="showThumbsDownTooltips[index]">
            {{movie.thumbsDown.length}}
          </div>
        </div>
      </div>
    </div>
  <input type="text" [(ngModel)]="newMovie">
  <button (click)="searchMovie()">Add</button>
</div>

<div class="movies-search-container" *ngIf="showMoviesSearch">
  <h3>Alguna de estas es la película que buscabas?</h3>
  <div class="row-container">
    <div class="movie-item-container" *ngFor="let movieSearch of moviesSearch?.results">
      <button class="poster-button" (click)="addMovie(movieSearch)">
          <img [src]="movieSearch.poster_path | posterUrl" class="poster" *ngIf="movieSearch.poster_path">
          <div class="movie-title-container" *ngIf="!movieSearch.poster_path">
            <h5 class="movie-title">
              {{movieSearch.title}}
            </h5>
          </div>
      </button>
    </div>
  </div>
  <button type="button" class="btn btn-info nope-button" (click)="cancelSearch()">Nope</button>
</div>
